.selection-bar {
  width: auto;
  height: .1rem;
  min-width: 51rem;
  background-color: silver;
  margin: 0rem 3rem;
}

.selector {
  transition-property: right, left;
  transition-duration: .2s;
  transition-timing-function: ease-out;
  position: relative;
  left: calc(191px - 3rem);
  pointer-events: none;
  height: inherit;
  background-color: black;
}